<launch>

    <arg name="namespace" value="projector_zlp1"/>
    <arg name="load_user_coordinate_system" default="false"/>

    <group ns="$(arg namespace)">

        <rosparam file="$(find z_laser_projector)/config/communic_setting.yaml"/>

        <rosparam if ="$(eval arg('load_user_coordinate_system'))"
            file="$(find z_laser_projector)/config/projector_config.yaml"/> 

        <rosparam unless ="$(eval arg('load_user_coordinate_system'))"
            file="$(find z_laser_projector)/config/factory_coordinate_system.yaml"/>

        <node name="projection_node" pkg="z_laser_projector" type="projection_node.py" output="screen"/>

    </group>

</launch>