<?xml version="1.0"?>
<launch>

    <arg name="namespace" value="zlaser"/>
    <arg name="load_user_coordinate_system" default="false"/>

    <group ns="$(arg namespace)">

        <rosparam file="$(find z_laser_zlp1)/config/communication_settings.yaml"/>

        <rosparam if ="$(eval arg('load_user_coordinate_system'))"
            file="$(find z_laser_zlp1)/config/user_coordinate_system.yaml"/> 

        <rosparam unless ="$(eval arg('load_user_coordinate_system'))"
            file="$(find z_laser_zlp1)/config/projector_coordinate_system.yaml"/>

        <node name="zlp_node" pkg="z_laser_zlp1" type="zlp_node.py" output="screen"/>


        <node name="zlp_gui" pkg="z_laser_gui" type="user_gui.py" output="screen"/>


        <param name="zlp1" command="$(find xacro)/xacro -i $(find z_laser_viz)/urdf/zlp1.urdf.xacro"/>

        <node name="zlp_viz" pkg="z_laser_viz" type="zlp1_viz.py" output="screen"/>

        <node pkg="tf" type="static_transform_publisher" name="static_tf" args="0 0 0.95 -0.5 0.5 -0.5 0.5 world zlp1_link 100" />
        <node name="tf_broadcaster" pkg="z_laser_viz" type="publish_tf.py" output="screen"/>

        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find z_laser_viz)/rviz/rviz_environment.rviz"/>

    </group>

</launch>